@model UlazniTest.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<html>
<head>
    <style type="text/css">
        .error {
            color: red;
            display: inline-block;
            margin-bottom: -57px !important;
            width: 100%;
        }
    </style>

</head>
<body>
    <div class="container py-5">
        @using (Html.BeginForm("Upload", "Json", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-sm-1 col-md-6 col-xs-12">
                    <h5 class="text-danger">@ViewBag.Error</h5>
                    <h5 class="text-success">@ViewBag.Success</h5>
                    <div class="form-group">
                        <label>Choose JSON File:</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input id="JSONfile" name="JSONFile" type="file" class="custom-file-input" />
                                <label class="custom-file-label"></label>
                            </div>
                            <div class="input-group-append">
                                <input type="submit" class="btn btn-outline-primary" value="Import" />
                            </div>
                            <div class="input-group-append">
                                <input type="submit" id="Button1" class="btn btn-outline-secondary" value="Export" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <table id="dataTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Opis</th>
                    <th>Kategorija</th>
                    <th>Proizvodjac</th>
                    <th>Dobavljac</th>
                    <th>Cena</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<link href="~/Content/DataTables/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script>
        $(function () {

            $('form').validate({
                rules: {
                    JSONFile: {
                        required: true
                    }
                },
                messages: {
                    JSONFile: "Upload Json File",
                }
            });

            $('#dataTable').DataTable({
                "ajax": {
                    "url": "/Json/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [       
                    { "data": "Naziv" },
                    { "data": "Opis" },
                    { "data": "Kategorija" },
                    { "data": "Proizvodjac" },
                    { "data": "Dobavljac" },
                    { "data": "Cena" }
                ]
            });
        });

        $("#Button1").click(function () {

            var message = "Json file Generated! check this in your Export_Json folder";
            var zahtev = $.get("/Json/JsonExport");

            zahtev.done(function () {
                alert(message);
            });
        });
    </script>
}

